# Default values for workspace-connector
# This is a YAML-formatted file. Declare variables to be passed into your templates.

# Number of replicas for the workspace connector deployment
replicaCount: 1

# Configuration for the workspace connector
config:
  # Contents of the config file
  toml: |
    [[loggers]]
    output = "stdout"
    format = "pretty"
    level = "debug"

    [[loggers]]
    format = "otlp"

    [aegis]
    # oauth client id of the aegis gcp service account that signs pubsub messages
    service_account_oauth_client_id = "106421262602279694955"
    # project id of the aegis gcp project that hosts pubsub infra
    project_id = "friendly-access-450904-h1"
  # Environment variables to pass to the application
  env:
    AEGIS_OPENTELEMETRY_EXPORTER_ENDPOINT: otel-collector-opentelemetry-collector.opentelemetry.svc.cluster.local:4317

# Image configuration
image:
  # Image repository
  repository: gcr.io/friendly-access-450904-h1/workspace-connector
  # Image tag
  tag: latest
  # Image pull policy
  pullPolicy: Always

# Service account configuration
serviceAccount:
  workloadIdentity:
    # GCP service account to use for authentication
    # gcpServiceAccount: lighthouse@aegis-reasonablesecurityai.iam.gserviceaccount.com

# Container resource limits (max) and requests (required)
resources:
  {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

# Service configuration
service:
  # Service type
  type: ClusterIP
  # Service port
  port: 8080
  # Node port (only used if service.type is NodePort)
  # nodePort:
  # LoadBalancer IP (only used if service.type is LoadBalancer)
  # loadBalancerIP:

# Ingress configuration for external access
ingress:
  # Enable/disable ingress
  enabled: true

  # Ingress class name
  className: nginx

  # Ingress hostname
  host: console.aegisai.ai
  path: /reasonablesecurityai/workspace-connector(/|$)(.*)
  pathType: ImplementationSpecific

  # Ingress annotations
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2

  # TLS configuration
  tls:
    # Enable TLS
    enabled: true
    # Name of the secret containing TLS certificate and key
    secretName: ""

cloudSql:
  instanceConnectionName:

cronjobs:
  enabled: false
